<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Prescription</title>
    <link rel="stylesheet" href="/css/editstyle.css">
    <script src="/js/form-validation.js"></script>
</head>
<body>
	 <h2>Edit Prescription</h2>
    <form th:action="@{/edit-prescription}" th:object="${prescription}" method="post" onsubmit="return validateForm()">
    	<input type="hidden" th:field="*{id}"/>
        <label>Date:</label>
        <input type="date" th:field="*{prescriptionDate}" required><br>
        <label>Patient Name:</label>
        <input type="text" th:field="*{patientName}" required><br>
        <label>Age:</label>
        <input type="number" th:field="*{patientAge}" min="0" max="120" required><br>
        <label>Gender:</label>
        <select th:field="*{patientGender}" required>
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br>
        <label>Diagnosis:</label>
        <textarea th:field="*{diagnosis}"></textarea><br>
        <label>Medicines:</label>
        <textarea th:field="*{medicines}"></textarea><br>
        <label>Next Visit:</label>
        <input type="date" th:field="*{nextVisitDate}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>